<div class="container-fluid">
  <div class="row">
    <div class="col-sm-2">
      <%= render "shared/sidenav" %>

    </div>
    <div class="col-sm-10">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">选修课程</h3>
        </div>
        <div class="panel-body" style="min-height: 450px">
          <%= render 'courses/course_select' %>
          <%= will_paginate @courses %>
        </div>
      </div>
    </div>
  </div>
</div>

