/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'bootstrap/theme';

.table{
  margin-bottom: 10px;
}

.table-striped > tbody > tr:hover >td.has_hover {
  background-color: #C0C0C0;
}

footer {
  background-color: #f0f0f0;
  color: #757575;
  padding: 10px;
}

.body-background{
  background-image: image-url('bg1.jpg');
  //background-color: #DADADA;
  //background-repeat: no-repeat;
  //background-size: 100% 100%;
}

body{
  padding-top: 50px;
  padding-bottom: 100px;
}

html {
  height: 100%;
}

.navbar-blue{
  background-color: #0066cc;
  color:#fff;
  border:none;
}

.navbar .brand {
  display: block;
  float: left;
  padding: 10px 20px 10px;
  margin-left: -110px;
  font-size: 20px;
  font-weight: 200;
  color: #777777;
  text-shadow: 0 1px 0 #ffffff;
}

.navbar-name, .navbar-white,.navbar-name:hover{
  color:#fff;
}








